@import './styles/vars';
@import './styles/index';
@import './styles/header';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #2B2B2B;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  text-transform: capitalize;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  color: $white;
}





@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

// @media (max-width: 600px) {
//     .container {
//         max-width: 400px;
//     }
// }

// @media (max-width: 425px) {
//     .container {
//         max-width: 311px;
//     }
// }