@import './styles/vars';
@import './styles/index';
@import './styles/header';
@import './styles/footer';
@import './styles/sign-up';
@import './styles/wallet';
@import './styles/marketplace';
@import './styles/ranking';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #2B2B2B;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  text-transform: capitalize;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  color: $white;
}

.section-wrapper {
  width: 94%;
  margin: 0px auto;
  padding: 80px 0;
}

.section-title {
  font-size: 2.375rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-desciption {
  font-size: 1.375rem;
}

.section-btn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  background-color: transparent;
  outline: 2px solid #A259FF;
  border-radius: 20px;
  border-style: none;
  padding: 19px 50px;
  display: flex;
  align-items: center;
  width: 247px;
  height: 60px;
  
  img {
    margin-right: 12px;
  }
}

.card-title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.user-profile {
  display: flex;
  align-items: center;

  .avatar-img {
    width: 24px;
    height: 24px;
    margin-right: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.user-info-block {
  padding: 20px 30px 25px 30px;
  background: $dark-grey;
  border-radius: 0px 0px 20px 20px;
}

.nft-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  
  .price .price-title,
  .bid .bid-title {
    font-family: $digit-font;
    font-size: 0.875rem;
    color: $grey;
    margin-bottom: 8px;
  }
}

.form {
  display: flex;
  position: relative;
  
  .mail-form {
    padding: 19px 20px;
    background-color: $white;
    border-radius: 20px;
    border-style: none;
  }

  .mail-btn {
    display: flex;
    align-items: center;
    border-style: none;
    background-color: $violet;
    border-radius: 20px;
    position: absolute;
    top: 0;
    padding: 17px 50px 17px 50px;
    transform: translate(165px, 0px);
    font-family: $text-font;

    img {
      margin-right: 12px;
    }
  }
}

.page-title {
  font-family: $text-font;
  font-size: 3.188rem;
  font-weight: 600;
}

.page-text {
  font-family: $text-font;
  font-size: 1.375rem;
  margin: 20px 0 40px 0;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 1.75rem;
  }

  .section-desciption {
    font-size: 1rem;
  }

  .page-title {
    font-size: 2.375rem;
  }

  .page-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
      padding: 0 30px;
  }

  .section-wrapper {
    width: 100%;
    padding: 40px 0;
  }

  .section-title,
  .section-desciption {
    text-align: center;
  }
}

@media (max-width: 475px) {
  .section-title,
  .section-desciption {
    text-align: left;
  }
}

