@import './vars';

.topscreen  {
  &__wrapper {
    display: flex;
    align-self: center;
    column-gap: 30px;
    width: 89%;
    margin: 0px auto;
    padding: 80px 0;
  }

  &__descr {
    width: 43.22%;
  }

  &__title {
    font-size: 4.19rem;
    font-weight: 600;
    line-height: 110%;
  }

  &__text {
    font-size: 1.375rem;
    margin: 20px 0 30px 0;
    line-height: 160%;
  }

  &__descr-gif {
    display: none;
  }

  &__gif {
    width: 43.22%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__btn {
    font-size: 1rem;
    font-weight: 600;
    background-color: $violet;
    border-radius: 20px;
    border-style: none;
    padding: 19px 50px;
    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
    }
  }

  .digit-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
    &__digit {
     font-family: $digit-font;
     font-weight: 700;
     font-size: 1.75rem;
    }

    &__name {
      font-size: 1.5rem;
    }
  }
}


@media (max-width: 1024px) {
  .topscreen  {
    &__wrapper {
      column-gap: 40px;
      width: 94%;
    }
  
    &__title {
      font-size: 2.375rem;
      line-height: 120%;
    }

    &__text {
      font-size: 1rem;
      margin: 20px 0;
      line-height: 140%;
    }

    .digit-info {
      margin-top: 20px;
      
      &__digit {
       font-size: 1.375rem;
      }
  
      &__name {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .topscreen  {
    position: relative;
    &__wrapper {
      display: block;
      width: 100%;
      margin: 0px auto;
      padding: 40px 0;
    }

    &__descr {
      width: 70%;
      margin: 0 auto;
    }

    &__text {
      margin: 40px 0 40px 0;
    }

    &__descr-gif {
      display: block;
      width: 96%;
      margin-bottom: 40px;
      
      img {
        width: 100%;
      }
    }

    &__gif {
      display: none;
    }
  }
}

@media (max-width: 475px) {
  .topscreen  {
    &__wrapper {
      padding: 40px 0;
    }

    &__descr {
      width: 90%;
      margin: 0 auto;
    }

    &__descr-gif {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }

    &__gif {
      display: none;
    }

    &__btn {
      margin: 0 auto;
    }
  }

}

.collection {

  &__gallery-cards {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
  }
    
  .gallery-cards__item {
    width: 31.4%;
  }

  .image-gallery {
    &__block-1 {
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &__block-2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;

      &__item {
        width: 30%;
      }

      &__item img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      &__item3 {
        display: flex;
        align-self: center;
        justify-content: center;
        background-color: $violet;
        border-radius: 20px;
      }
    }
  }

  .info-gallery-block .card-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .collection {
    &__wrapper {
      width: 94%;
    }
    .gallery-cards__item:last-child {
      display: none;
    }

    .gallery-cards__item {
      flex-basis: 48%;
    }
  }
}

@media (max-width: 768px) {
  .collection {
    &__wrapper {
      width: 100%;
    }
    .gallery-cards__item:nth-child(2) {
      display: none;
    }

    .gallery-cards__item {
      flex-basis: 56%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 475px) {
  .collection {
    &__wrapper {
      padding: 40px 0;
    }

    .gallery-cards__item {
      flex-basis: 90%;
    }
  }
} 

// creators section
.creators {

  &__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-item {
    width: 230px;
    background-color: $dark-grey;
    border-radius: 20px;
    position: relative;
    margin: 20px 0;

    &__inner {
      text-align: center;
      padding: 20px;
    }

    .user-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto 20px auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    
    .sales-data {
      font-size: 1rem;
      font-weight: 400;
      color: $grey;
      margin-top: 5px;
    }

    .sales-data span {
      color: $white;
    }

    .rating {
      width: 30px;
      height: 30px;
      background-color: #2B2B2B;
      border-radius: 20px;
      position: absolute;
      top: 10px;
      left: 10px;

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .creator-btn2 {
      display: none;
    }

  }
}

@media (max-width: 1024px) {
  .creators {
    &__wrapper {
      width: 94%;
    }
  }
}

@media (max-width: 834px) {
  .creators {

    &__text {
      width: 50%;
    }

    &__card-gallery {
      margin: 0 auto;
    }

    .card-item {
      width: 315px;

      &__inner {
        display: flex;
      }

      .user-img {
        width: 60px;
        height: 60px;
        margin: 0 20px 0px 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }

    .card-item:nth-child(7),
    .card-item:nth-child(8),
    .card-item:nth-child(9),
    .card-item:nth-child(10),
    .card-item:nth-child(11),
    .card-item:nth-child(12) {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .creators {
    &__wrapper {
      width: 100%;
    }

    &__header {
      display: block;
      margin: 0 auto;

      .section-btn {
        margin: 0 auto;
      }
    }

    &__text {
      width: 100%;
    }

    &__card-gallery {
      width: 315px;
      padding: 40px 0;
    }

    .card-item {
      margin: 10px 0;
    }

    .creator-btn {
      display: none;
    }

    .creator-btn2 {
      display: block;
      margin: 0 auto;
      width: 315px;
    }
  }
}

// Categories section

.categories {

  &__gallery-inner {
    display: grid;
    grid-template-columns: repeat(4, 22.89%);
    gap: 30px 30px;
    margin-top: 60px;
  }

  .categories-card {
    background: $dark-grey;
    border-radius: 20px;

    &__image-block {

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &__title {
      margin: 20px 30px 25px 30px;
    }
  }
}

@media (max-width: 1024px) {
  .categories {
    &__gallery-inner {
      gap: 20px 20px;
    }

    .categories-card {
      &__title .card-title{
        font-size: 0.875rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories {
    &__gallery-inner {
      display: grid;
      grid-template-columns: repeat(2, 147px);
      gap: 30px 30px;
      margin-top: 40px;
      justify-content: center;
      align-items: center;
    }

    .categories-card{
      &__title {
        margin: 20px 20px 25px 20px;
      }
    } 
  }
}

//Discover section

.discover { 
  &__gallery-cards {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
  }

  .gallery-cards__item {
    width: 31.4%;
  }

  .image-block {
    height: 300px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

@media (max-width: 1024px) {
  .discover {
    .gallery-cards__item:last-child {
      display: none;
    }

    .gallery-cards__item {
      width: 48%;
    }
  }
}

@media (max-width: 768px) {
  .discover {
      &__gallery-cards {
      flex-direction: column;
      row-gap: 30px;
    }

    .gallery-cards__item {
      width: 56%;
    }

    .gallery-cards__item:last-child {
          display: block;
    }

    // .image-block {
    //   height: 238px;
      
    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: fill;
    //   }
    // }
  }

  
}



//Deadline section

.magic {
  background-image: url('../assets/img/NFT-Highlight.png');
  background-repeat: no-repeat;
  background-position:center center;

  &__inner {
   margin: 360px 0 60px 0;
  }

  &__user-profile {
    display: inline-block;
    background-color: $dark-grey;
    padding: 10px 20px;
    width: 151px;
    border-radius: 20px;
  }

  .magic-descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__left h2 {
    font-size: 3.188rem;
    margin: 0px 0 30px 0;
  }

  .section-btn {
    background-color: $white;
    border-style: none;
    color: #2B2B2B;
  }

  .deadline {
    padding: 30px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;

    p {
      font-family: $digit-font;
      font-size: 0.75rem;
    }
  }

  .deadline-time {
    display: flex;

    &__item .digit,
    .divider {
      font-family: $digit-font;
      font-size: 2.375rem;
      font-weight: 700;
    }
  }

}


// Instraction section

.instruction {

  &__gallery {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
  }

  .card-item {
    flex-basis: 31.5%;
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 30px;
  }

  .card-item__inner {
    text-align: center;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .description {
    font-family: $text-font;

    h3 {
      margin: 20px 0 10px 0;
      font-size: 1.375rem;
    }

    p {
      font-size: 1rem;
      line-height: 140%;
    }
  }
}

//Call-to action section

.call-to-action {
   position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: $dark-grey;
    border-radius: 20px;
  }

  .image-block {
    width: 45.7%;
    // max-width: 425px;
    // max-height: 310px ;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__descr {
    width: 45.7%; 

    h3 {
      font-size: 2.375rem;
    }
    
    p {
      font-size: 1.375rem;
      margin: 10px 0 40px 0;
    }
  }

  .form {
    display: flex;
    position: relative;
    .mail-form {
      padding: 19px 20px;
      background-color: $white;
      border-radius: 20px;
      border-style: none;
    }

    .mail-btn {
      display: flex;
      align-items: center;
      border-style: none;
      background-color: $violet;
      border-radius: 20px;
      position: absolute;
      top: 0;
      padding: 17px 50px 17px 50px;
      transform: translate(165px, 0px);
      font-family: $text-font;

      img {
        margin-right: 12px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .call-to-action {

    &__descr {

      h3 {
        font-size: 1.75rem;
        line-height: 140%;
      }
      
      p {
        font-size: 1rem;
        margin: 10px 0 40px 0;
        line-height: 140%;
      }
    }

    .form {
      display: block;

      .mail-form {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 16px;
      }

      .mail-btn {
        // display: block;
        // margin: 0 auto;
        width: 100%;
        position: static;
        top: 0;
        transform: translate(0px, 0px);
        padding: 8px 110px;
      } 
    }
  }
}