@import './vars';

.topscreen  {
  &__wrapper {
    display: flex;
    align-self: center;
    column-gap: 30px;
  }

  &__descr,
  &__gif {
    width: 48.6%;
  }

  &__title {
    font-size: 4.19rem;
    font-weight: 600;
    line-height: 110%;
  }

  &__text {
    font-size: 1.375rem;
    margin: 20px 0 30px 0;
    line-height: 160%;
  }

  &__gif img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__btn {
    font-size: 1rem;
    font-weight: 600;
    background-color: $violet;
    border-radius: 20px;
    border-style: none;
    padding: 19px 50px;
    display: flex;
    align-items: center;
    transition: .4s ease all;

    img {
      margin-right: 12px;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  &__btn:hover {
    @include animation;
  }

  .digit-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
    &__digit {
     font-family: $digit-font;
     font-weight: 700;
     font-size: 1.75rem;
    }

    &__name {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1279.9px) {
  .topscreen  {
    &__title {
      font-size: 2.375rem;
      line-height: 120%;
    }

    &__text {
      font-size: 1rem;
      margin: 20px 0;
      line-height: 140%;
    }
    
    &__gif {
      height: 330px;
     
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .digit-info {
      margin-top: 20px;
      
      &__digit {
       font-size: 1.375rem;
      }
  
      &__name {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 833.9px) {
  .topscreen  {
    &__wrapper {
      display: block;
    }

    &__descr {
      width: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 1.75rem;
      line-height: 140%;
    }

    &__text {
      font-size: 1rem;
      line-height: 140%;
      margin-bottom: 395px;
    }

    // &__btn {
    //   width: 315px;
    //   margin: 0 auto;
    // }

    &__gif {
      width: 315px;
      position: absolute;
      top: 295px;
    }

    &__btn {
      margin: 0 auto;
    }
  }

}

// Collection section

.collection {
  &__wrapper {
    padding: 80px 0;
  }

  &__gallery-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
    
  .image-gallery {
    &__block-1 {
      transition: .4s ease all;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &__block-1:hover {
      @include animation;
    }

    &__block-2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;

      &__item {
        width: 30%;
        transition: .4s ease all;
      }

      &__item:hover {
        @include animation;
      }

      &__item img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      &__item3 {
        display: flex;
        align-self: center;
        justify-content: center;
        background-color: $violet;
        border-radius: 20px;
        transition: .4s ease all;
      }

      &__item3:hover {
        @include animation;
      }
    }
  }

  .info-gallery-block .card-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 1279.9px) {
  .collection {

    &__wrapper {
      padding: 40px 0;
    }

    .gallery-cards__item:last-child {
      display: none;
    }

    &__gallery-cards {
      grid-template-columns: repeat(2, 1fr);
    }

  }
}

@media (max-width: 833.9px) {
  .collection {

    .gallery-cards__item:nth-child(2) {
      display: none;
    }

    &__gallery-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}



// Creators section
.creators {
  &__wrapper {
    padding-bottom: 80px;
  }

  &__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .creator-btn a {
    display: flex;
  }

  &__card-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .card-item {
    width: 240px;
    background-color: $dark-grey;
    border-radius: 20px;
    position: relative;
    transition: .4s ease all;

    &__inner {
      text-align: center;
      padding: 20px;
    }

    .user-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto 20px auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    
    .sales-data {
      font-size: 1rem;
      font-weight: 400;
      color: $grey;
      margin-top: 5px;
    }

    .sales-data span {
      color: $white;
    }

    .rating {
      width: 30px;
      height: 30px;
      background-color: #2B2B2B;
      border-radius: 20px;
      position: absolute;
      top: 10px;
      left: 10px;

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card-item:hover {
    @include animation;
  }
}

@media (max-width: 1279.9px) {
  .creators {
    &__wrapper {
      padding-bottom: 40px;
    }

    &__text {
      width: 50%;
    }

    &__card-gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .card-item {
      width: 330px;

      &__inner {
        display: flex;
      }

      .user-img {
        width: 60px;
        height: 60px;
        margin: 0 20px 0px 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }

    .card-item:nth-child(7),
    .card-item:nth-child(8),
    .card-item:nth-child(9),
    .card-item:nth-child(10),
    .card-item:nth-child(11),
    .card-item:nth-child(12) {
      display: none;
    }

  }
}

@media (max-width: 833.9px) {
  .creators {

    &__header {
      display: block;
      margin: 0 auto;
      position: relative;

      .section-btn {
        margin: 0 auto;
      }
    }

    &__text {
      width: 100%;
      margin-bottom: 650px;
    }

    &__card-gallery {
      position: absolute;
      top:1688px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    .card-item {
      width: 315px;
    }

    .card-item:nth-child(6) {
      display: none;
    }
  }
}


// Categories section
.categories {
  &__wrapper {
    padding-bottom: 80px;
  }

  &__gallery-inner {
    display: grid;
    grid-template-columns: repeat(4, 22.89%);
    gap: 30px 30px;
    margin-top: 60px;
  }

  .categories-card {
    background: $dark-grey;
    border-radius: 20px;
    transition: .4s ease all;

    &__image-block {

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &__title {
      margin: 20px 30px 25px 30px;
    }
  }

  .categories-card:hover {
    @include animation;
  }
}

@media (max-width: 1279.9px) {
  .categories {
    &__wrapper {
      padding-bottom: 40px;
    }

    &__gallery-inner {
      gap: 20px 20px;
    }

    .categories-card {
      &__title .card-title{
        font-size: 0.875rem;
      }
    }
  }
}

@media (max-width: 833.9px) {
  .categories {

    &__gallery-inner {
      display: grid;
      grid-template-columns: repeat(2, 147px);
      gap: 30px 30px;
      margin-top: 40px;
      justify-content: center;
      align-items: center;
    }

    .categories-card{
      &__title {
        margin: 20px 20px 25px 20px;
      }
    } 
  }
}


//Discover section
.discover { 
  &__wrapper {
    padding-bottom: 80px;
  }
  &__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__gallery-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
  }

  .gallery-cards__item {
    width: 330px;
    transition: .4s ease all;
  }
  
  .gallery-cards__item:hover {
    @include animation;
  }

  .image-block {
    height: 300px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

@media (max-width: 1279.9px) {
  .discover {
    .gallery-cards__item:last-child {
      display: none;
    }

    &__gallery-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 833.9px) {
  .discover {
    &__wrapper {
      position: relative;
      padding-bottom: 40px;
    }

    &__header {
      display: block;
    }

    &__text {
      margin-bottom: 1400px;
    }

    .discover-btn {
      margin: 0 auto;
    }

    &__gallery-cards {
      position: absolute;
      top: 68px;
      grid-template-columns: repeat(1, 1fr);
    }
      
    .gallery-cards__item {
      width: 315px;
    }

    .gallery-cards__item:last-child {
          display: block;
    }

    .image-block {
      height: 238px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .bid {
      &__title,
      &__data {
        font-size: 0.75rem;
      }
    }
  }
}


//Magic deadline section
.magic {
  background-image: url('../assets/img/NFT-Highlight.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
 
  &__wrapper {
    padding: 360px 0 60px 0;
  }

  &__user-profile {
    display: inline-block;
    background-color: $dark-grey;
    padding: 10px 20px;
    width: 151px;
    border-radius: 20px;
  }

  .magic-descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__left h2 {
    font-size: 3.188rem;
    margin: 0px 0 30px 0;
  }

  .deadline {
    padding: 30px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;

    p {
      font-family: $digit-font;
      font-size: 0.75rem;
    }
  }

  .deadline-time {
    display: flex;
    justify-content: space-between;
    width: 235px;

    &__item .digit,
    .divider {
      font-family: $digit-font;
      font-size: 2.375rem;
      font-weight: 700;
    }
  }

}

@media (max-width: 1279.9px) {
  .magic {
    
    &__left h2 {
      font-size: 2.375rem;
      margin: 0px 0 30px 0;
      line-height: 120%;
    }
  }
}

@media (max-width: 833.9px) {
  .magic {
    &__wrapper {
      padding: 120px 0 40px 0;
    }

    &__inner {
      width: 315px;
       margin: 0px auto;
    }
    
    .magic-descr {
      display: block;
      position: relative;
    }

    &__left h2 {
      margin-bottom: 215px;
    }

    &__right {
      position: absolute;
      top: 116px;
    }

    .magic-btn{
      background-color: $white;
      color: #2B2B2B;
      outline: none;
    }
  }
}


// Instraction section
.instruction {
  &__wrapper {
    padding-bottom: 80px;
  }

  &__gallery {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
  }

  .card-item {
    max-width: 330px;
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 30px;
  }

  .card-item__inner {
    text-align: center;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .description {
    font-family: $text-font;

    h3 {
      margin: 20px 0 10px 0;
      font-size: 1.375rem;
    }

    p {
      font-size: 1rem;
      line-height: 140%;
    }
  }
}

@media (max-width: 1279.9px) {
  .instruction {
    &__wrapper {
      padding-bottom: 40px;
    }

    .card-item {
      max-width: 210px;
    }
    .description {
      h3 {
        font-size: 1rem;
      }
  
      p {
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 833.9px) {
  .instruction {
    &__wrapper {
      padding-bottom: 20px;
    }

    &__gallery {
      display: block;
      width: 315px;
      margin: 40px auto;
    }

    .card-item__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 100px;
        height: 100px;
        object-fit: fill;
      }
    }

    .card-item + .card-item {
      margin-top: 20px;
    }

    .card-item {
      max-width: 315px;
      padding: 20px;
    }

    .description {
      width: 155px;
    }
  }
}


//Call-to action section
.call-to-action {
   position: relative;
   &__wrapper {
    padding-bottom: 80px;
   }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: $dark-grey;
    border-radius: 20px;
  }

  .image-block {
    width: 45.7%;
    max-width: 425em;
    max-height: 310em;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__descr {
    width: 45.7%; 

    h3 {
      font-size: 2.375rem;
    }
    
    p {
      font-size: 1.375rem;
      margin: 10px 0 40px 0;
    }
  }

  .form {
    display: flex;
    position: relative;
    .mail-form {
      padding: 19px 20px;
      background-color: $white;
      border-radius: 20px;
      border-style: none;
    }

    .mail-btn {
      display: flex;
      align-items: center;
      border-style: none;
      background-color: $violet;
      border-radius: 20px;
      position: absolute;
      top: 0;
      padding: 17px 50px 17px 50px;
      transform: translate(165px, 0px);
      font-family: $text-font;

      img {
        margin-right: 12px;
      }
    }

    // .mail-btn:hover {
    //   @include animation;
    // }
  }
}

@media (max-width: 1279.9px) {
  .call-to-action {
    &__wrapper {
      padding-bottom: 40px;
     }
  
    &__inner {
      justify-content: center;
      column-gap: 30px;
      padding: 30px;
    }
  
    .image-block {
      width: 315px;
      height: 280px;
    }

    &__descr {
     
      h3 {
        font-size: 1.75rem;
        line-height: 140%;
      }
      
      p {
        font-size: 1rem;
        margin: 10px 0 40px 0;
        line-height: 140%;
      }
    }

    .form {
      display: block;
      text-align: center;

      .mail-form {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 16px;
      }

      .mail-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: 0;
        transform: translate(0px, 0px);
        padding: 8px 0px;
      } 
    }
  }
}

@media (max-width: 833.9px) {
  .call-to-action {
    &__inner {
      display: block;
      width: 315px;
      margin: 0 auto;
      background-color: transparent;
      padding: 0px;
    }

    &__descr {
      margin-top: 30px;
      width: 100%;
    }
  }
}