@import './vars';

.rankings {
  width: 100%;

  .top-creators {
    .section-wrapper {
      padding: 0px;
    }
    &__tab-btns {
      display: flex;
    }

    &__tab-btns2 {
      display: none;
    }

    &__tab-btns button {
      width: 25%;
      background-color: transparent;
      border-style: none;
      font-family: $text-font;
      font-weight: 600;
      font-size: 1.375rem;
      color: $grey;
      padding: 14px 0; 
    }

    &__tab-btns button.active {
      color: $white;
      border-bottom: 2px solid #858584;
    }

    &__tab-content-wrapper {
      margin-top: 40px;
    }
  }

  .creators-table {
    &__head {
      width: 100%;
      display: flex;
      font-family: $digit-font;
      font-size: 1rem;
      font-weight: 400;
      color: $grey;
      padding: 12px 0px;
      border: 1px solid #3B3B3B;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    &__head p:nth-child(1) {
      width: 5%;
      text-align: center;
    }

    &__head p:nth-child(2) {
      width: 47%;
    }

    &__head p:nth-child(3) {
      width: 16%;
    }

    &__head p:nth-child(4) {
      width: 16%;
    }

    &__head p:nth-child(5) {
      width: 16%;
    }
  }

  .creators-table__body {
    .list-item {
      padding: 12px 5px;
      background: $dark-grey;
      border-radius: 20px;

      &__inner {
        display: flex;
        align-items: center;
      }
    }

    .list-item + .list-item  {
      margin-top: 20px;
    }

    .artist a {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .artist p {
      font-family: $text-font;
      font-size: 1.375rem;
      font-weight: 600;
      color: $white;
    }

    img {
      width: 60px;
      height: 60px;
    }

    .number {
      text-align: center;
      
      span {
        padding: 4px 10px;
        background: #2B2B2B;
        border-radius: 20px;
      }
    }

    .change,
    .sold,
    .volume {
      font-family: $digit-font;
    }

    .change {
      color: #00AC4F;
    }
  }

  .list-item__inner div:nth-child(1) {
    width: 5%;
  }

  .list-item__inner div:nth-child(2) {
    width: 47%;
  }
  
  .list-item__inner div:nth-child(3) {
    width: 16%;
  }

  .list-item__inner div:nth-child(4) {
    width: 16%;
  }
  
  .list-item__inner div:nth-child(5) {
    width: 16%;
  }
}

@media (max-width: 834px) {
  .rankings {
    .creators-table {
      &__head p:nth-child(2) {
        width: 70%;
      }
  
      &__head p:nth-child(4) {
        display: none;
      }
    }
  
    .creators-table__body {
      .sold {
        display: none;
      }

      .number {
        span {
          background: transparent;
          padding: 0px 0px;
          color: $grey;
        }
      }

      .volume {
        font-size: 0.75rem;
      }

    }

    .list-item__inner div:nth-child(2) {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .rankings {
    .top-creators {
      &__tab-btns {
        display: none;
      }
  
      &__tab-btns2 {
        display: block;
        display:flex;
      }

      &__tab-btns button {
        font-size: 1rem;
      }
    }

    .creators-table {
      &__head p:nth-child(2) {
        width: 75%;
      }

      &__head p:nth-child(5) {
        width: 20%;
      }
  
      &__head p:nth-child(3) {
        display: none;
      }
    }

    .creators-table__body {
      .change {
        display: none;
      }

      .artist p {
        font-size: 1rem;
        font-weight: 400;
      }

      img {
        width: 24px;
        height: 24px;
      }
  
    }

    .list-item__inner div:nth-child(2) {
      width: 75%;
    }

    .list-item__inner div:nth-child(5) {
      width: 20%;
    }
  }
}