@import './vars';

.account {
  &__inner {
    height: 691px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-side {
      width: 48%;
      height: 100%;
      background-image: url("../assets/img/account-image.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }

  .account-form {
    width: 48%;

    &__inner {
      max-width: 460px;
    }

    form {
      max-width: 330px;
    }

    .input-form {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #858584;
      border-radius: 20px;
   
      padding: 12px  0px 12px 20px;

      img {
        margin-right: 12px;
      }

      input {
        width: 83%;
        border-style: none;
      }

      input:focus {
        outline-style: none;
      }
    }

    .input-form + .input-form {
      margin-top: 15px;
    }

    button {
      width: 100%;
      padding: 14px 104.5px;
      background-color: $violet;
      border-radius: 20px;
      font-family: $text-font;
      font-weight: 600;
      color: $white;
      margin-top: 30px;
      border-style: none;
    }

  }
}

@media (max-width: 1279.9px) {
  .account {
    &__inner {
      height: 615px;
    }

    .image-side {
      width: 50%;
    }
    .account-form {
      width: 45%;

      &__inner {
        max-width: 325px;
      }
    }
  }
}


@media (max-width: 833.9px) {
  .account {
    &__inner {
       display: block;
       height: 100%;
    }

    .image-side {
      width: 100%;
      height: 232px;
    }

    .account-form {
      width: 315px;
      margin: 30px auto 40px auto;

      &__inner {
        max-width: 325px;
      }
    }
  }
}
