@import './vars';

.connect-wallet {
  &__inner {
    height: 692px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-side {
    width: 48%;
    height: 100%;
    background-image: url("../assets/img/account-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .wallet-descr {
    width: 48%;

    &__inner {
      max-width: 460px;
    }
  }

  .btns-group {
    max-width: 320px;
  }

  .btns-item + .btns-item {
    margin-top: 20px;
  }
  
  .btn-link {
    display: flex;
    align-items: center;
    font-family: $text-font;
    font-size: 1.375rem;
    color: #ffffff;
    padding: 16px 40px;
    background-color: $dark-grey;
    border: 1px solid #A259FF;
    border-radius: 20px;
    
    img {
      margin-right: 12px;
    }
  }
}

@media (max-width: 1279.9px) {
  .connect-wallet {
    &__inner {
      height: 530px;
    }

    .image-side {
      width: 50%;
    }

    .wallet-descr {
      width: 45%;
  
      &__inner {
        max-width: 325px;
      }
    }

  }
}

@media (max-width: 833.9px) {
  .connect-wallet {
    &__inner {
      display: block;
      height: 100%;
    }

    .image-side {
      width: 100%;
      height: 232px;
    }

    .wallet-descr {
      width: 315px;
      margin: 30px auto 40px auto;
    }
  }
}

@media (max-width: 475px) {
  .connect-wallet {
    &__inner {
      height: 747px;
    }
    .image-side {
      width: 100%;
      height: 247px;
      background-image: url("../assets/img/account-image-mobile.png");
    }
  }
}